# Manually maintained — roxygen handles man/ only (namespace = FALSE)

S3method(db_connection_describe,GDALVectorConnection)
S3method(dbplyr_edition,GDALVectorConnection)
S3method(lazysf,GDALVectorConnection)
S3method(lazysf,character)
S3method(sql_escape_logical,GDALVectorConnection)
S3method(sql_query_fields,GDALVectorConnection)
S3method(sql_translation,GDALVectorConnection)
S3method(supports_window_clause,GDALVectorConnection)
export(GDALSQL)
export(collect)
export(lazysf)
exportClasses(GDALVectorConnection)
exportClasses(GDALVectorDriver)
exportClasses(GDALVectorResult)
exportMethods(dbClearResult)
exportMethods(dbConnect)
exportMethods(dbDataType)
exportMethods(dbDisconnect)
exportMethods(dbExistsTable)
exportMethods(dbFetch)
exportMethods(dbGetInfo)
exportMethods(dbHasCompleted)
exportMethods(dbIsValid)
exportMethods(dbListFields)
exportMethods(dbListTables)
exportMethods(dbReadTable)
exportMethods(dbSendQuery)
exportMethods(dbUnloadDriver)
exportMethods(show)
import(DBI)
import(methods)
importFrom(dbplyr,db_connection_describe)
importFrom(dbplyr,dbplyr_edition)
importFrom(dbplyr,sql_escape_logical)
importFrom(dbplyr,sql_query_fields)
importFrom(dbplyr,sql_translation)
importFrom(dbplyr,supports_window_clause)
importFrom(dplyr,collect)
importFrom(gdalraster,GDALVector)
importFrom(gdalraster,ogr_ds_layer_names)
importFrom(tibble,tibble)
importFrom(utils,packageVersion)
importFrom(wk,rct)
importFrom(wk,wkb)
importFrom(wk,wkt)
